Options -Indexes

# Security Headers
Header always set Content-Security-Policy "frame-ancestors 'none'"
Header always set Referrer-Policy "no-referrer"
Header always set Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "DENY"
Header always set X-XSS-Protection "1; mode=block"
